.contactForm {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 450px
}

.contactSuccess {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successText {
    font-size: 150%;
    text-align: center;
    width: 70%;
}

.otherContact {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: x-large;
}

input[type=text], textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.invalid {
    background-color: rgb(255, 128, 128);
}

textarea {
    height: 300px;
}

#contactSubmit {
    -webkit-appearance: none;
    appearance: none;
    margin-left: auto;
    margin-right: 0;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.contactSubmitWrapper {
    width: 100%;
    height: fit-content;
    display: flex;
}

@media only screen and (min-width: 768px) {
    .contactForm {
        width: 40%;
        padding-left: 30%;
        padding-right: 30%;
        box-sizing: content-box;
    }
}