.imgCyclerM {
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.imgCyclerM > img {
    filter: blur(calc(var(--scrolled) * 10px));
    flex-shrink: 0;
    width: calc(100vw + ((1 - var(--scrolled)) * 10vw));
    height: calc(100vh + ((1 - var(--scrolled)) * 10vh));
    z-index: inherit;
    object-fit: cover;
}

.landingContent {
    width: 100vw;
    height:100vh
}

.goLeft, .goRight, .burger, .contact {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.contact {
    width: fit-content;
}

.contactWrapper {
    position: absolute;
    bottom: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.goLeft {
    left: 5vw;
}

.goRight {
    right: 5vw;
}

.goLeft, .goRight, .burger {
    padding: 12px;
    padding-bottom: 6px;
    position: absolute;
}

.goLeft, .goRight {
    top: 50vh;
}

.burger {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    height: 30px;
    width: 30px;
    z-index: 3;
    box-sizing: content-box;
}

.burgerLine {
    background-color: white;
    width: 30px;
    height: 3px;
    position: relative;
}

.burgerLine:nth-child(1) {
    top: 0%;
}

.burgerLine:nth-child(2) {
    top: 30%;
}

.burgerLine:nth-child(3) {
    top: 60%;
}

/* final state for burgers */

#burger0.down {
    transform: translateY(12px) rotate(-45deg);
}

#burger1.down {
    opacity: 0;
}

#burger2.down {
    transform: translateY(-12px) rotate(45deg);
}

@media (prefers-reduced-motion: no-preference) {

/* animation for burger line 0 */

#burger0.animating.down  {
    animation: b0down 0.4s;
}

@keyframes b0down {
    from {
        transform: translateY(0px) rotate(0deg);
    }
    to {
        transform: translateY(12px) rotate(135deg);
    }
}

#burger0.animating:not(.down) {
    animation: b0up 0.4s;
}

@keyframes b0up {
    from {
        transform: translateY(12px) rotate(-45deg);
    }
    to {
        transform: translateY(0px) rotate(0deg);
    }
}

/* animation for burger line 1 */

#burger1.animating.down  {
    animation: b1down 0.4s;
}

@keyframes b1down {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

#burger1.animating:not(.down) {
    animation: b1up 0.4s;
}

@keyframes b1up {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animation for burger line 2 */

#burger2.animating.down  {
    animation: b2down 0.4s;
}

@keyframes b2down {
    from {
        transform: translateY(0px) rotate(0deg);
    }
    to {
        transform: translateY(-12px) rotate(45deg);
    }
}

#burger2.animating:not(.down) {
    animation: b2up 0.4s;
}

@keyframes b2up {
    from {
        transform: translateY(-12px) rotate(-135deg);
    }
    to {
        transform: translateY(0px) rotate(0deg);
    }
}

/* end burger animations */

.menu {
    animation: menu-opacity 0.2s;
}

@keyframes menu-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

} /* end media query prefers-reduced-motion:no-preference */

.menu {
    position: fixed;
    width: auto;
    height: auto;
    top: 4vh;
    bottom: 4vh;
    left: 4vw;
    right: 4vw;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    z-index: 2;
    display: grid;
    opacity: 1;
}

.menuImgContainer {
    display: flex;
    justify-content: center;
}

.menuImgContainer > img {
    padding-top: 5vw;
    /* padding-top: calc(40px + 5vw); */
    height: 15vw;
}

.menuItem {
    padding-top: 2vw;
}

.scrollContent {
    position: absolute;
    top: 100vh;
    width: 100vw;
    background: none;
}

.textBoxWrapper {
    padding-bottom: 10vw;
    display: grid;
    justify-content: center;
}

.textBox {
    width: 80vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 15px;
}

@media only screen and (min-width: 768px) {
    .textBox {
        width: 40vw;
    }
}

a {
    color: white
}

div[class^='contentContainer'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .animate-to-left{position:relative;animation:animatetoleft 0.4s}@keyframes animatetoleft{from{transform: translateX(-100%);} to{transform: translateX(0%);}}
    .animate-to-right{position:relative;animation:animatetoright 0.4s}@keyframes animatetoright{from{transform:translateX(100%);} to{transform:translateX(0%);}}
}
