.headerWrapperWrapper {
    width: 100vw;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.headerWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* justify-content: center;
    align-items: center;
    display: flex; */
    /* height: fit-content; */
}

.gradientWrapper {
    height: 100%;
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
}

.gradientL, .gradientR {
    height: 5px;
    width: 80px;
}

.sub > .gradientWrapper > .gradientL, .sub > .gradientWrapper > .gradientR {
    width: 70px;
    height: 4px;
}

.gradientL {
    margin-right: 5%;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
}

.gradientR {
    margin-left: 5%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
}

.titleWrapper {
    width: fit-content;
    display: inline-block;
}

.sub > .titleWrapper {
    /* width: 20% !important; */
}

@media only screen and (min-width: 768px) {
    /* .gradientL {
        margin-left: 25%;
        margin-right: 0;
    }

    .gradientR {
        margin-right: 25%;
        margin-left: 0;
    } */
    .headerWrapper {
        width: 50vw;
    }

    .gradientL, .gradientR {
        height: 5px;
        width: 120px;
    }


    .sub > .titleWrapper {
        /* width: 20vw !important; */
    }

}