.imageCardWrapperWrapper {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    height: fit-content;
    width: 100%;
}

.imageCardWrapper {
    position: relative;
    height: 0; /* padding-bottom gets set to achieve dynamic aspect ratio */
}

.imageCard {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.imageWrapper {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* display: flex; */
}

.imageWrapper > img {
    object-fit: cover;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.caption {
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    /* z-index: 5; */
}

.transparent {
    position: absolute;
    backdrop-filter: blur(10px);
}

.textContainer {
    padding: 10px;
    /* z-index: 5; */
}

@media only screen and (min-width: 768px) {
    .contentContainer > .imageCardWrapperWrapper {
        width: 50vw;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contentContainer-3 > .imageCardWrapperWrapper {
        width: 33vw;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 4%;
    }
}