

.socials {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.socialContainer {
    display: grid;
    width: 50%;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10vw;
}

#insta {
    font-size: 3vw;
}

#mail {
    font-size: 2vw;
}

.iconContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}

.icon {
    background-color: darkred;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 20vw;
    height: 20vw;
    border-radius: 5vw;
}