.imgContainer {
    justify-content: center;
    display: flex;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    padding-bottom: 5vw;
    height: calc(25vw - (var(--scrolled) * 20vw));
}

.mobileBar {
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.imgContainer > img {
    height: calc(20vw - (var(--scrolled) * 12vw));
}

.desktopBarWrapper {
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: calc(0px - (var(--scrolled) * 8vw));
    /* display: grid; */
    /* height: fit-content; */
    animation: desktopBarUp 0.3s;
}

.desktopBarWrapper:hover {
    top: 0px;
    animation: desktopBarLower 0.3s;
}

@keyframes desktopBarLower {
    from{
        top: calc(0px - (var(--scrolled) * 8vw));
    }
    to {
        top: 0px;
    }
}

@keyframes desktopBarUp {
    from{
        top: 0px;
    }
    to {
        top: calc(0px - (var(--scrolled) * 8vw));
    }
}

.desktopBar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 0.5%;
    z-index: 2;
    background: black;
    /* background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0), 100%); */
    /* background-image: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0), 100%); */
    /* height: 220px; */
}

.desktopBarGradient {
    width: 100%;
    height: 5vw;
    /* background-color: black; */
    /* position: fixed; */
    /* top: 8vw; */
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
    z-index: 2;
}

.centerLogo {
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
}

.centerLogo > img {
    height: 6vw;
}

.centerLogoText {
    position: absolute;
    z-index: 3;
    top: 2.2vw;
    left: 2.5vw;
}

.navContainer {
    position: sticky;
    padding-left: 5vw;
    padding-right: 5vw;
}

.navLogo {
    position: relative;
    top: 2.2vw
}